facade-button((click)=this.changePage('first')) «

facade-button((click)=this.changePage('prev')) ‹

span= `${this.page} / ${this.totalPages}`

if this.displayTotal
  span.total= this.total

facade-button((click)=this.changePage('next')) ›

if this.total
  facade-button((click)=this.changePage('last')) »
