facade-button((click)=this.changePage(e, 'first')) «

facade-button((click)=this.changePage(e, 'prev')) ‹

span= `${this.page} / ${this.totalPages}`

if this.displayTotal
  span.total= this.total

facade-button((click)=this.changePage(e, 'next')) ›

if this.total
  facade-button((click)=this.changePage(e, 'last')) »
